- tasks.each do|task|
  %tr
    %th{ scope: "row" } 
      = task.title
    %td 
      = task.description
    %td
      = task.user.email
    %td 
      = task.created_at
    %td
      = task.assigned? ? "Yes": "No"